<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><webobject name="PAGE_TITLE"/></title>
	</head>
	<body>
		<div id="navigation">
			<webobject name="APP_LINK">Applications</webobject>
			<webobject name="HOSTS_LINK">Hosts</webobject>
			<webobject name="SITE_LINK">Site</webobject>
			<webobject name="PREFS_LINK">Preferences</webobject>
			<webobject name="HELP_LINK">Help</webobject>
			<webobject name="MIGRATION_LINK">Apache migration</webobject>
			<br style="clear: both"/>
		</div>
		<div>
			<webobject name="Content" />
		</div>
		<div id="footer">
			JavaMonitor. Original code provided by Apple®, modified by various people.
		</div>
	</body>
</html>